
  body {

    background-color: #fffdf0;
  
  }
  
  h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Homer Simpson UI";
    background-color: rgb(249, 255, 189);
  }
  
  h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: serif;
    background-color: #FFFCE1;
  }
  
/*CREACIÓN DE LOS DISCOS */
  .cd1 {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #E7FDDD 25%, #DFFED1 25%, #D3FDC0 50%, #CDFFB7  50%, #C6FEAE 75%, #C1FFA7 75%);
    animation: rotate 5s infinite linear;
    
    margin: 0 20px;
  }
  
  .cd1::before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #b2efb9
  }


  .cd2 {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #F6FCA7 25%, #F7FE99 25%, #F3FA88 50%, #F4FC7A 50%, #F4FD68 75%, #F1FB5A 75%);
    animation: rotate 5s infinite linear;
    
    margin: 0 20px;
  }
  
  .cd2::before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F7FAD0
  }
  

  .cd3 {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #F5C2FB 25%, #F6B8FE 25%, #F3A3FE 50%, #F396FF 50%, #EF7DFE 75%, #EB61FD 75%);
    animation: rotate 5s infinite linear;
    
    margin: 0 20px;
  }
  
  .cd3::before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F9D8FD
  }

  .cd4 {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #FDC3B9 25%, #FEB9AD 25%, #FDA99A  50%, #FC9987 50%, #FD826C 75%, #FC6D54 75%);
    animation: rotate 5s infinite linear;
    
    margin: 0 20px;
  }
  
  .cd4::before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F9D1CA
  }



  .cd5 {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #B5EDFB 25%, #A7EDFF 25%, #95E7FC  50%, #86E3FA 50%, #6FDEFA 75%, #58DCFD 75%);
    animation: rotate 5s infinite linear;
    
    margin: 0 20px;
  }
  
  .cd5::before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #CFF2FB
  }

  .cd6 {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #424242 25%, #303030 25%, #303030  50%, #212121 50%, #212121 75%, #000000 75%);
    animation: rotate 5s infinite linear;
    
    margin: 0 20px;
  }
  
  .cd6::before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #424242
  }
  .cd7 {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #FDDDE7 25%, #FED1DF 25%, #FDC0D3 50%, #FFB7CD  50%, #FEAEC6 75%, #FFA7C1 75%);
    animation: rotate 5s infinite linear;

    margin: 0 20px;
  }
  
  .cd7::before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FDDDE7
  }

  .cd8 {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #DCDCDC 25%, #E0E0E0 25%, #E0E0E0 50%, #E0E0E0  50%, #757575 75%, #757575 75%);
    animation: rotate 5s infinite linear;

    margin: 0 20px;
  }
  
  .cd8::before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #DCDCDC
  }
  

  .cd9 {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #DAC7BC 25%, #DCBCAA 25%, #DDB39C 50%, #DFA788  50%, #BD7046 75%, #B05E31 75%);
    animation: rotate 5s infinite linear;

    margin: 0 20px;
  }
  
  .cd9::before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #DAC7BC
  }
  .cd10 {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #7885E1 25%, #6978E0 25%, #6171E1 50%, #5668E2  50%, #4156E1 75%, #2E54ED 75%);
    animation: rotate 5s infinite linear;

    margin: 0 20px;
  }
  
  .cd10::before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #C5F7FF
  }

  .cd11 {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #FFFFFF 25%, #FFFFFF 25%, #FFFAFA 50%, #FFFAFA  50%, #F5F5F5 75%, #F5F5F5 75%);
    animation: rotate 5s infinite linear;

    margin: 0 20px;
  }
  
  .cd11::before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F5F5F5
  }


  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  

/* Animación y transition */
.cd1:hover ,
.cd2:hover ,
.cd3:hover  {
  transform: scale(0.5); 
  transition: transform 3.5s ease; 
}
/*CREACION DE MICROFONO */

.microphone {
  width: 120px; 
  height: 400px; 
  background-color: #333; 
  border-radius: 30px; 
  margin: 40px auto;
  transform: rotate(-15deg); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid rgba(0, 0, 0, 0.3);
  background: (rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.microphone::before {
  content: "";
  width: 160px; 
  height: 160px; 
  background-color: #666; 
  border-radius: 45%;
  align-self: center;
  position: relative; 
  top: -30px; 
  justify-content: space-between;
  transform: skew(0deg);
  border: 1px solid #3b3a3a; 
}


.microphone::after {
  content: "";
  width: 40px; 
  height: 15px; 
  background-color: #6b6868; 
  align-self: center;
  transform: skew(6deg); 
  border-radius: 2px; 
}


.microphone-button {
  content: "";
  width: 30px;
  height: 80px;
  align-self: center;
  position: relative;
  background-color: #858585;
  border-radius: 45%;
  margin: 50px;
  top: -60px;}


  .microphone-linea {
    content: "";
    width: 185px;
    height: 15px;
    align-self: center;
    position: relative;
    background-color: #a8a8a8;
    border-radius: 20%;
    margin: 0px;
    top: -125px;}





@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.microphone:hover {
animation: pulse 0.5s infinite; 
}


/*Musica */
.audio-player {
  width: 5%;
  text-align: center;
  align-self: center;
  margin-top: 1px;
}

.center-audio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; }


/* Notas musicales */

.music-container {
  display: flex;
  flex-wrap: wrap;
  
  }

 
.note {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  margin: 10px;
  animation: noteAnimation 5s linear infinite;
  display: inline-block;
  white-space: nowrap;
  position: fixed;
}

/* Animación para las notas */
@keyframes noteAnimation {
  0% {
    transform: translate(0, -500%);
    opacity: 1;
  }
  50% {  
    transform: translate(0, 500%); 
    opacity: 1;
  }
  100% {
    transform: translate(0, -500%);
    opacity: 1;
  }
}



.music {
  font-family: 'Arial', sans-serif;
}

.note + .note {
  margin-left: 40px;
}

.note:hover ~ .note {
  color: #bc1379;
}

.music > .note {
  font-weight: bold;
}

.note:first-child {
  font-size: 40px;
  top: 60px;
  left: 0;
  color: #e69f79;
  animation-delay: 0s;
}

.note:last-child {
  font-size: 40px;
  color: #ccdb45;
  top: 5px;
  left: 1%;
  animation-delay: 6s
}


.note:nth-child(2n) {
  color: #cf6025;
  font-size: 40px;
  top: 30px;
  left: 30%;
  animation-delay: 0.5s;

}

.note:nth-child(3n) {
  color: #5f90ec;
  font-size: 40px;
  top: 90px;
  left: 60%;
  animation-delay: 1s;
}

.note:nth-child(4n) {
  color: #b444d6;
  font-size: 40px;
  top: 40px;
  left: 90%;
  animation-delay: 1.5s;
}

.note:nth-child(5n) {
  color: #b444d6;
  font-size: 40px;
  top: 50px;
  left: 70%;
  animation-delay: 2s;
}

.note:nth-child(6n) {
  color: #2dec40;
  font-size: 40px;
  top: 150px;
  left: 5%;
  animation-delay: 2.5s;
}

.note:nth-child(7n) {
  color: #ea7389;
  font-size: 40px;
  top: 980px;
  left: 13%;
  animation-delay: 3s;
}
.note:nth-child(8n) {
  color: #6594cc;
  font-size: 40px;
  top: 18px;
  left: 25%;
  animation-delay: 3.5s;
}

.note:nth-child(9n) {
  color: #cf1a84;
  font-size: 40px;
  top: 200px;
  left: 50%;
  animation-delay: 4s;
}

.note:nth-child(10n) {
  color: #14cccc;
  font-size: 40px;
  top: 77px;
  left: 62%;
  animation-delay: 4.5s;
}

.note:nth-child(11n) {
  color: #b76fdc;
  font-size: 40px;
  top: 87px;
  left: 47%;
  animation-delay: 5s;
}

.note:nth-child(12n) {
  color: #60ff85;
  font-size: 40px;
  top: 9px;
  left: 7%;
  animation-delay: 5.5s;
}
